body{
    font-family: monospace;
    font-size: 20px;
    
}

#navbar{
    background:palegreen;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
    
}

#navbar a{
    text-decoration: none;
    color: rgb(7, 80, 80);
    
}

#navbar a:hover{
    color: rgb(95, 95, 241);
    cursor: pointer;
    text-decoration: underline;
}

.profile{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 50px 300px 10px 300px;
    box-shadow: 30px 30px 30px black;
    border-radius: 20px;

}

.profile-info{
    /* border-radius: 20px; */
    margin-left: 20px;
    padding: 15px;
    /* background: green; */
    border-left: 5px solid lightgreen;
}

#profile-pic{
    width: 250px;
    height: 350px;
    /* border-radius: 20px; */
    /* box-shadow: 0 0 30px black; */
}

.about{
    /* background: lightgray; */
    padding: 15px;
    margin: 10px 50px 10px 50px;
    /* box-shadow: 0px 0px 30px black; */


}

h3{
    text-decoration: none;
    color: rgb(7, 80, 80);

}

footer{
    background: palegreen;
    display: flex;
    color: rgb(7, 80, 80);
    padding: 10px 0px 10px 0px;
    justify-content: space-around;
}

#profile-link img{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;

}
    
/*media query for small phones below 600px */
@media only screen and (max-width: 600px) {
    body {
        width: 30vw;        /*30% of view width*/
        height: 100vh;       /*100% of view height*/
         }
}
    
     