<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERSONAL PROFILE</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
    <!--navigation bar-->
    <div id="navbar"> 
        <a href="../index.html">ABOUT</a>
        <a href="../templates/projects.html">PROJECTS</a>
    </div>
   <!--projects I've done-->
   <div id="projects"> 
    <p>I've used technologies like JavaScript, C#, HTML and CSS, Java, and Visual basic. I am also familiar with tools like VSCode (code editor), Git and Github (for version control), Trello and Pivotal tracker (for project management), and Node.js.<br></p>
    <p> Projects I've worked on</p>
    <p> <ol>
        <li>Facebook</li> Creating a copy of the Facebook page <a href="https://github.com/Angom-Naomi/week1-challenge2.git"> link </a><br>
        <li> CatApp</li> A web page created with the aim of learning basic HTML <a href="https://github.com/Angom-Naomi/catApp.git "> link </a><br>
        <li> Pingu</li> Design a web page that is accessible and responsive <a href="https://github.com/Angom-Naomi/basic-CSS.git "> link </a><br?>
        <li>War-room</li> A website displaying a welcome page with portfolios of the different team members. It is both accessible and responsive.<a href="https://github.com/outboxafrica/edu-prep4-week1-warroom.git"> link </a><br>
    </ol></p>
    <p>For all aspiring software developer out there, you won't know how far you can go unless you persist.</p>
</div> 
</body>
</html>